Package: org.h6nry.crossfade
Name: crossfade
Depends: mobilesubstrate
Version: 2.1
Architecture: iphoneos-arm
Description: Crossfade. In your music app. Fixed to work on iOS 14+ by GovenorKratos, very janky.
Maintainer: H6nry <henry.anonym@gmail.com>
Author: H6nry <henry.anonym@gmail.com>
Section: Tweaks
Tag: role::user